In [229]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

Have the function Consecutive(arr) take the array of integers stored in arr and return the minimum number of integers needed to make the contents of arr consecutive from the lowest number to the highest number. For example: If arr contains [4, 8, 6] then the output should be 2 because two numbers need to be added to the array (5 and 7) to make it a consecutive array of numbers from 4 to 8. Negative numbers may be entered as parameters and no array will have less than 2 elements.

In [82]:
arr = [4,10,12,19,22]
print(arr)

[4, 10, 12, 19, 22]

In [38]:
arr.sort()
arr

[4, 10, 12, 19, 22]

In [46]:
new = []
for i in arr:
    print(i)

4

In [194]:
f = [9, 11]
len(f)

2

In [218]:
arr = [4,10,12,19,22]

In [219]:
arr = [4,10,12,19,22]
counter = 0
for i in arr[0:]:
    if len(arr) > 1:
        diff = (arr[-1] - arr[-2]-1)
        counter += diff
    arr.pop()
print(arr, new, counter)

[] [2, 6, 1, 5] 14

In [37]:
nums = [1,1,1,2,2,3]
def removeDuplicates(nums):
    for i in nums:
        if nums.count(i) > 2:
            extra = nums.remove(i)
            nums.insert(0, len(nums))
            nums = str(nums)
        return nums.astype(int)

removeDuplicates(nums)

AttributeError: 'str' object has no attribute 'astype'

In [231]:
nums = [1,1,1,2,2,3]

nums.count(1)

3